<style type="text/css">
.header-home .jumbotron {
	background-image:url('{{custom_header.url}}'); 
	height: {{custom_header.height}}px;
}

{% if custom_header.height > 400 %}
.header-home .jumbotron h1 {
	margin-top: {{custom_header.height - 200}}px;
}
{% endif %}
</style>

<div class="header-home">
	<div class="container">
		<div class="jumbotron" style=" ">
			<div class="box">
				<h1>
					<span class="bg">
						{% if title %}
							{{title}}
						{% else %}
							{{site.title}}
						{% endif %}
					</span>
				</h1>
				{% if subtitle %}<p><span class="bg">{{subtitle}}</span></p>{% endif %}
			</div>
		</div>

		{% if lead_art.caption %}<p class="caption text-right">{{lead_art.caption}}</p>{% endif %}
	</div>
</div>