<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
	<meta charset="{{site.charset}}" />
	<title>{% if wp_title %}{{ wp_title }} | {% endif %} {{site.title}}</title>
	<meta name="description" content="{{site.description}}">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,900,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<style type="text/css">
	aside.widget,
	section#content .link,
	.btn,
	.page-header {
		background: {{get_theme_mod('bgcolor')}};
		color: {{get_theme_mod('textcolor')}};
	}
	{% if get_theme_mod('bgcolor') == '#ffffff' %}
	aside.widget,
	section#content .link,
	.btn,
	.page-header {
		border: 1px solid #eee;
	}
	{% endif %}
	</style>
	
	{{wp_head}}
</head>