{% if format == 'none' %}
<div class="col-md-6">
{% else %}
<div class="col-md-12">
{% endif %}
	<article id="post-{{ post.id }}" class="media pseudo-row">
		<h2 class="media-heading"><a title="Permalink to {{ post.title }}" href="{{ post.permalink }}" rel="bookmark">{{ post.title }}</a></h2>

		{% if post.thumbnail %}
		<a class="media-left" href="{{post.permalink}}">
			<img class="round" src="{{post.thumbnail.src|resize(150, 100, '#FFFFFF')}}" />
		</a>
		{% endif %}
		<div class="media-body">
			<p class="blog-author">
				<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
			</p>
			<p>{{ post.get_preview(30) }}</p>
			<div class="terms">
				{% for term in post.terms if term.taxonomy == 'category' %}
				<a class="btn btn-xs btn-default" href="{{site.url}}/category/{{term.name}}">{{term.name}}</a>
				{% endfor %}
			</div>
		</div>
	</article>
</div>